<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">

  </head>
  <body>
    <div class="main-content">

      {{>header}}
    <p style="color: aqua;">
      This site is created by Wani Arif Rasool. It uses data from mapbox.com for coordinates and weatherstcak for weather information.
    </p>
    <img class="portrait" src="/img/arif.jpg" alt="ufff, oops!" />
    <p>
     
    </p>
    </div>
      
   {{>footer}}
  </body>
</html>
